ul {
    list-style-type: none;
}

.task {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.completed {
    background-color: green;
}

.task input {
    background-color: inherit;
    flex-grow: 1;
    border: none;
}

.taskbtn {
    margin-left: auto;
}